Package: libu2f-udev
Source: libu2f-host
Version: 1.1.10-1
Architecture: all
Maintainer: Debian Authentication Maintainers <team+auth@tracker.debian.org>
Installed-Size: 26
Depends: udev
Section: libs
Priority: optional
Multi-Arch: foreign
Homepage: https://developers.yubico.com/libu2f-host/
Description: Universal 2nd Factor (U2F) common files
 Libu2f is a package for doing Universal 2nd Factor (U2F) host communication
 and has functionality for the Registration and Authentication operations.
 .
 This package provides the udev rules file required to support U2F devices.
